body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #202124;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 5px;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  color: #969697;
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app-boxing {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid rgb(179, 169, 169);
  border-radius: 7px;
}

.location {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(27, 97, 161);
  font-size: 65px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  color: rgb(27, 97, 161);
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 14px;
}
